@import "../../../styles/mixins";

.select {
  display: block;
  width: 100%;
  min-width: 250px;
  background-color: #ffffff;


  &:focus-visible {
    outline: none;
  }

  @include max-576 {
    width: 500px;
    max-width: 100%;
  }
}