@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
}

.App {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  position: relative;
}

.selectGroup {
  position: fixed;
  z-index: 111111111111111111111;
  left: 0;
  right: 0;
  //background: #dadada;
  background: #fff;
    padding: 3px 10px;
  margin: 0 auto;
  box-shadow: 0 0 9px 3px #0000007a;

    //@include max-1024 {
    //    padding: 36px 8px 8px;
    //}
}

.stupid{
  padding: 15px  16px;

  h5{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
}

.form-form{
  padding-top:80px ;
}