@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

.App {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  position: relative;
}

.selectGroup {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  background: #fff;
  padding: 3px 10px;
  margin: 0 auto;
  box-shadow: 0 0 9px 3px #0000007a;
  z-index: 2;
}

.stupid{
  padding: 15px  16px;

  h5{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
}

.form-form{
  padding-top:80px ;
}

@media (max-width: 840px){
  .selectGroup {
    position: unset;
    z-index: 1;
    left: 0;
    right: 0;
    background: #fff;
    padding: 3px 10px;
    margin: 0 auto;
    box-shadow: 0 0 9px 3px #0000007a;
    z-index: 2;
  }
  .form-form{
    padding-top:0px ;
  }
}


@media (max-width: 570px){
  .form-form{
    //padding-top: 130px !important;
    padding: 0;
  }
  .selectGroup{
    width: 100%;
  }
  .wwrapper{
    width: 100%;
  }
  .wwrapper>div{
    width: 96%;
  }
  .selectGroup {
    position: unset;
    z-index: 1;
    left: 0;
    right: 0;
    background: #fff;
    padding: 3px 10px;
    margin: 0 auto;
    box-shadow: 0 0 9px 3px #0000007a;
    z-index: 2;
  }
}