@import "../styles/mixins";

.card {
  position: relative;

  label {
    height: 100%;
    cursor: pointer;

    input {
      opacity: 0;
      position: absolute;
    }
  }

  &__wrapper {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px #e2e2e293;
    height: 100%;
    padding: 16px;
    border: 1px solid #ebebeb;
    transition: 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      box-shadow: 0 4px 24px 0 #0000001f;
    }
  }

  &__wrapper.active {
    border: solid 1px red;

  }

  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  width: 25%;
  flex-grow: 0;
  padding: 10px;


  @media (max-width: 1500px) {
    flex-basis: 33.333%;
    width: 33.3333%;
  }

  @include max-1024 {
    flex-basis: 50%;
    width: 50%;
    padding: 16px;
  }

  @include max-768 {
    flex-basis: 100%;
    width: 100%;
  }

  &__discount {
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dc2626;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkboxAdd {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
  }


  &__img {
    position: relative;
    margin-bottom: 16px;
    padding-top: 66%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 500;

    @include max-576 {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }

  &__price {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    p {
      font-size: 12px;
      color: gray;
      margin-bottom: 10px;
    }

    &_new {
      font-size: 16px;
      font-weight: 700;
    }

    &_old {
      text-decoration: line-through;
      font-size: 13px;
      font-weight: 500;
      color: #787878;
    }



  }

  &__install {
    justify-self: flex-end;
  }

  .price_wrapper {
    display: flex;
    grid-gap: 5px;

    span:first-child {
      font-size: 18px;
    }

    span:last-child {
      font-size: 11px;
    }
  }


}

.in_bucket {
  width: 100%;
  border-top: solid 1px gray;
  margin-top: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  i {
    width: 100%;
    background: unset;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    background: #fc0;
  }
}
.active{
  i{
    background: green;
    color: #fff;
  }
}

@media (max-width: 768px){
  .in_bucket{
    display: none !important;
  }
  .active {
    border: solid 1px red !important;
    svg{
      display: block !important;
    }


  }
}


@media (max-width: 420px) {
  .card {
    padding-top: 0px !important;
  }
  .price_wrapper {
    display: flex;
    grid-gap: 5px;

    span:first-child {
      font-size: 15px !important;
    }

    span:last-child {
      font-size: 9px !important;
    }
  }
}


@media (max-width: 350px) {
  .price_wrapper {
    display: flex;
    flex-direction: column !important;
    span:last-child{
      order: -1;
    }
  }
}