.App{

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: red;
        height: 40px;

    }
}

.container{
    background: url("https://www.meme-arsenal.com/memes/079032388422f4e487644cf9cfff0ca6.jpg") no-repeat;
    max-width: 1520px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}