
.block{
  max-width: 1520px;
  margin: 0   auto;
  width: 100%;
  ul{
    li{
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      select{
        max-width: 260px;
      }
    }
  }
}
.header{
  background: #7e26dc;
  height: 40px;
}

.finger{
  position: absolute;
  transform: rotate(-45deg) translate(0,0);
  top: 42px;
  right: -15px;
  animation: fingerMove 1.3s linear infinite;
}

@keyframes fingerMove {
  0%{
    transform:rotate(-45deg) translate(0,0);
  }
  50%{
    transform:rotate(-45deg) translate(0px , -15px);
  }
  100%{
    transform:rotate(-45deg) translate(0,0);
  }
}