@import "../../../src/styles/variables";

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  // width: 300px;
  padding: 0 24px;

  width: fit-content;
  background-color: $color-primary;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;

  transition: 0.5s;

  &:hover {
    border-color: #f5c401;
    background-color: #f5c401;
    color: #000001;
    cursor: pointer;
  }

  &--primary {
    background-color: transparent;
    color: #000001;

    &:hover {
      border-color: transparent;
      background-color: transparent;
    }
  }
}